<h3>Sonia Warzyńska:</h3>

{% if page.lang == 'pl' %} 
<p>Polska śpiewaczka młodego pokolenia. Sopranistka. Absolwentka Akademii Muzycznej w Krakowie w
klasie dr hab. Marii Seremet. Laureatka międzynarodowych i ogólnopolskich konkursów. Wiele razy 
brała udział w koncertach i festiwalach w kraju i za granicą.</p>
{% else %}
<p>Young polish-born opera singer. Soprano. She studied voice at the Conservatory in Cracow under the 
guidance of dr hab. Maria Seremet. Is a laureate of national and international vocal competitions. As 
a solist she took part in festivals and concerts in Poland and abroad multiple times.</p>
{% endif %}

<iframe 
  src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoniawarzynskasopran&amp;width&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=1486092331663954" 
  scrolling="no" 
  frameborder="0" 
  style="border:none; overflow:hidden; height:510px; width:100%; background: #fff;" 
  allowTransparency="true"
></iframe>