{% include header.html %}
<div class="site-wrapper">
    
  <header class="site-header defaultstyle">
    <div class="container">
      <div class="site-logo center">
        <a href="#">
          <img alt="Logo" src="p/logo.png">
        </a>
      </div>
      <div class="site-tagline center">Entliczek Pierniczek</div>            
    </div><!-- container -->

    <div class="row">
      <div id="headwrap" >
        <nav role="navigation" class="desktoponly navbar ">
          {% include menu.html %}                    
        </nav> 
      </div>
    </div>
    
  </header>


  <div class="wrapper blog-loop nosidebar anps-slider">
    <section class="masonry">     
      <div class="container" >
    
        <article class='col-sm-4'>
          <div class='maswrap'>
            <header>      
              <img width="512" height="320" src="p/a.jpg" class="attachment-masonry wp-post-image" alt="1" />
            </header>
            <a class='masheader' href='#'><h2>TYTUL wpisu X</h2></a>
            <span class='date font-2'>2 Listopada 2014</span>
            <div class='post-content'>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus semper felis, quis tincidunt orci molestie vel. Integer eu elit sit amet massa facilisis pharetra. </p>
            </div>
            <a class='read-more right font-1' href='#'><i class='color-1 fa fa-angle-double-right'></i>WIĘCEJ</a>
            <div class='clearfix'></div>
          </div>
        </article>
        
      {% for xpost in site.xposts %}
        <article class='col-sm-4'>
          <div class='maswrap'>
            <header>      
              <img width="512" height="320" src="p/a.jpg" class="attachment-masonry wp-post-image" alt="1" />
            </header>
            <a class='masheader' href='#'>
              <h2>{{ xpost[1]['title'] }}</h2>
            </a>
            <span class='date font-2'>{{ xpost[1]['date'] }}</span>
            <div class='post-content'>
              <p>{{ xpost[1]['desc'] }}</p>
            </div>
            <a class='read-more right font-1' href='#'><i class='color-1 fa fa-angle-double-right'></i>WIĘCEJ</a>
            <div class='clearfix'></div>
          </div>
        </article>  
      {% endfor %}        
      
      {% for post in site.posts %}
        <article class='col-sm-4'>
          <div class='maswrap'>
            <header>      
              <img width="512" height="320" src="p/a.jpg" class="attachment-masonry wp-post-image" alt="1" />
            </header>
            <a class='masheader' href='{{ post.url }}'>
              <h2>{{ post.title }}</h2>
            </a>
            <span class='date font-2'>{{ post.date }}</span>
            <div class='post-content'>
              <p>{{ post.excerpt }}</p>
            </div>
            <a class='read-more right font-1' href='{{ post.url }}'><i class='color-1 fa fa-angle-double-right'></i>WIĘCEJ</a>
            <div class='clearfix'></div>
          </div>
        </article>      
      {% endfor %}

    
    
      </div>
      <div class="clearfix"></div>
    </section>        
  </div>


  <section class="pagination">
    <div class="page-numbers-wrapper">
    <ul class='page-numbers'>
      <li><span class='page-numbers current'>1</span></li>
      <li><a class='page-numbers' href='#'>2</a></li>
      <li><a class='page-numbers' href='#'>3</a></li>
      <li><a class="page-numbers next" href="#">NEXT <i class="fa fa-angle-double-right"></i></a></li>
    </ul>
    </div>
    <div class="none"></div>
  </section>
  
</div>

<!-- footer -->


<!-- js -->

{% include footer.html %}